<div class="card-header">
  <h5 class="m-0">Live-Post App </h5>
</div>

  <%= render "form" %>

  <div id="feed" class="card-body body-blue">
    <%= render partial: "post", collection: @posts %>
  </div>
