<div class="container">
  <h1>Live-Post</h1>
  <h4>Learning CableReady &amp; StimulusReflex</h4>

  <%= render "form" %>

  <div id="feed">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>